.banner {
  > div {
    min-height: 70vh;

    .container {
      max-width: 900px;

      label {
        &:hover {
          svg {
            fill: $secondary;
          }
        }
      }

      input::placeholder {
        color: $tertiary;
      }
    }
  
    > div:last-child {
      height: 70vh;
  
      img {
        max-height: 100%;
      }
    }    
  }
}