/* --------------------------------------------------
   DEFAULT BOOTSTRAP VARIABLES OVERRIDES
   -------------------------------------------------- */

// @see '../../node_modules/bootstrap/scss/variables'

//== Color variables ==
$golden:               #FFD15B;
$black-night:          #1B1B1B;
$grey:                 #7A7A7A;
$grey-light:           #EDEDED;

//== Theme colors ==
$primary:                $golden;
$secondary:              $black-night;
$tertiary:               $grey;

//== Body style ==
$body-color:             $secondary;
$body-bg:                $grey-light;

//== Grid containers ==
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);

//== position-map ==
$position-values: (
  0: 0,
  5: 5%,
  35: 35%,
  50: 50%,
  100: 100%
);

//== Font ==
$font-family-sans-serif: 'Manrope', sans-serif;
$font-family-monospace:  'Anton', sans-serif;
$font-size-base:         .875rem;

//== Heading ==
$headings-line-height:   1.5;

//== Card ==
$card-border-radius:     1.5rem;
$enable-shadows:         true;
$card-box-shadow:        0 8px 22px 0 rgba(0,0,0,.15);

//== Close button ==
$btn-close-opacity:      1;

//== Spacing ==
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5
);