/* --------------------------------------------------
   DEFAULT BOOTSTRAP VARIABLES OVERRIDES
   -------------------------------------------------- */

  // @see '../../node_modules/bootstrap/scss/variables'

  // Grid containers
  $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1600px
  ) !default;

  // Font variables
  $font-family-sans-serif: 'Manrope', sans-serif;
  $font-family-monospace:  'Anton', sans-serif;

  // Body style
  $body-bg:              #EDEDED;
  $body-color:           #1B1B1B;

  // Theme colors
  $theme-colors: (
    'primary':           #FFD15B
  );

  // Spacing
  $spacer: 1rem !default;
  $spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 5
  ) !default;